<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yukeyong.datetime</string>
	<key>connections</key>
	<dict>
		<key>0A833441-F22F-4A30-8052-C93CCB9E72D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BC36269-22D0-4CF7-B198-18D85A26F269</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F37FD34-4968-46B0-AC0B-B5F853305443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5023C6BD-A60E-452B-9EB9-79BCB5A789E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BC36269-22D0-4CF7-B198-18D85A26F269</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F37FD34-4968-46B0-AC0B-B5F853305443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yukeyong</string>
	<key>description</key>
	<string>transform datetime to unix timestamp or reverse it</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Datetime / Timestamp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ut</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Transforming unix timestamp to date "{query}"</string>
				<key>script</key>
				<string>php ut.php "{query}"</string>
				<key>subtext</key>
				<string>Transform unix timestamp to date "{query}"</string>
				<key>title</key>
				<string>Transform unix timestamp to datetime</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5023C6BD-A60E-452B-9EB9-79BCB5A789E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7BC36269-22D0-4CF7-B198-18D85A26F269</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F37FD34-4968-46B0-AC0B-B5F853305443</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Transforming datetime to unix timestamp "{query}"</string>
				<key>script</key>
				<string>php ts.php "{query}"</string>
				<key>subtext</key>
				<string>Transform datetime to unix timestamp "{query}"</string>
				<key>title</key>
				<string>Transform datetime to unix timestamp</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A833441-F22F-4A30-8052-C93CCB9E72D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A833441-F22F-4A30-8052-C93CCB9E72D1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4F37FD34-4968-46B0-AC0B-B5F853305443</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5023C6BD-A60E-452B-9EB9-79BCB5A789E5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7BC36269-22D0-4CF7-B198-18D85A26F269</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://yukeyong.com</string>
</dict>
</plist>
